<!DOCTYPE html>

<html lang="ru-RU" dir="ltr">
<head>
<title>Выберите employee для изменения | Административный сайт Django</title>
<link rel="stylesheet" href="/static/admin/css/base.css">

  <link rel="stylesheet" href="/static/admin/css/dark_mode.css">


  <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>


  
  <link rel="stylesheet" href="/static/admin/css/changelists.css">
  
  
    <script src="/admin/jsi18n/"></script>
  
  
  




<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<script src="/static/admin/js/core.js"></script>
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script src="/static/admin/js/actions.js"></script>
<script src="/static/admin/js/urlify.js"></script>
<script src="/static/admin/js/prepopulate.js"></script>
<script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script src="/static/admin/js/filters.js" defer></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" app-urv model-employee change-list"
  data-admin-utc-offset="21600">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    
    <div id="header">
        <div id="branding">        
            <h1 id="site-name"><a href="/admin/">Администрирование Django</a></h1>
        </div>        
        
        <div id="user-tools">            
                Добро пожаловать            
        </div>        
    </div>
    
    <!-- END Header -->
    
    <div class="breadcrumbs">
              
      <div class="content">
                
        <!-- Content -->
        <div id="content" class="">
          
            <h1>Выберите employee для изменения</h1>         
            <div id="content-main">
    

    
    
        <div class="module filtered" id="changelist">
      <div class="changelist-form-container">
        


<div><!-- DIV needed for valid HTML -->

        
    
    
  
</div>

          


<div class="results">
<table id="result_list">
<thead>
<tr>
<th scope="col" class="sortable column-id">
   
     
   
   <div class="text"><a href="?o=1">ID</a></div>
   <div class="clear"></div>
</th>
<th scope="col" class="sortable column-action_date">
   
     
   
   <div class="text"><a href="?o=2">Дата</a></div>
   <div class="clear"></div>
</th>
<th scope="col" class="sortable column-name">
   
     
   
   <div class="text"><a href="?o=3">Фамилия Имя</a></div>
   <div class="clear"></div>
</th>
<th scope="col" class="sortable column-stat_urv">
   
     
   
   <div class="text"><a href="?o=4">Начало УРВ</a></div>
   <div class="clear"></div>
</th>
<th scope="col" class="sortable column-fact_start">
   
     
   
   <div class="text"><a href="?o=5">Фактичесий приход</a></div>
   <div class="clear"></div>
</th>
<th scope="col" class="sortable column-being_late">
   
     
   
   <div class="text"><a href="?o=6">Опоздание</a></div>
   <div class="clear"></div>
</th>
<th scope="col" class="sortable column-end_urv">
   
     
   
   <div class="text"><a href="?o=7">Конец УРВ</a></div>
   <div class="clear"></div>
</th>
<th scope="col" class="sortable column-fact_end">
   
     
   
   <div class="text"><a href="?o=8">Фактический уход</a></div>
   <div class="clear"></div>
</th>
<th scope="col" class="sortable column-early_departure">
   
     
   
   <div class="text"><a href="?o=9">Ранний уход</a></div>
   <div class="clear"></div>
</th>
<th scope="col" class="sortable column-time_work">
   
     
   
   <div class="text"><a href="?o=10">Отработанное время</a></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>


<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="1" class="action-select"></td><th class="field-id"><a href="/admin/urv/employee/1/change/?_changelist_filters=o%3D">1</a></th><td class="field-action_date nowrap">15 февраля 2023 г.</td><td class="field-name">Ракышбаев Алмас</td><td class="field-stat_urv nowrap">9:00</td><td class="field-fact_start nowrap">6:00</td><td class="field-being_late nowrap">0:00</td><td class="field-end_urv nowrap">18:00</td><td class="field-fact_end nowrap">18:00</td><td class="field-early_departure nowrap">0:00</td><td class="field-time_work nowrap">8:00</td></tr>

</tbody>
</table>
</div>

          </div>
        
      
    </div>
  </div>

          
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
